@import "./util/varible";
@import "./base/rest";
@import "./util/mixin";
@import "./util/grid";
@import "./util/contianer";
@import "./component/input";
@import "./component/button";
@import "./spaces/marign";
@import "./spaces/padding";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body{
    min-height:86vh;
    font-family: "Berkshire Swash", serif;
    color: $priBodyCR;
    margin-top:100px ;
    background-color:$sceBodyBG;
    animation-name: animationBG;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: .5s;
    animation-timing-function:ease-in-out;
    form {
        h1{
            text-align: center;
        }
        &:nth-child(1){
            @include Layout(12);
            @include Layout(11,"sm");
            @include Layout(11,"md");
            @include Layout(11,"lg");
            div label{
                font-size: 20px;
            }
        }
    }
    .crl1{
        position: fixed;
        top: 80px;
        left: 20px;
        z-index: -1;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: red;
        filter: blur(150px);
    }
    .crl2{
        position: fixed;
        bottom:  80px;
        right: 80px;
        z-index: -1;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: red;
        filter: blur(150px);
    }
}

@keyframes animationBG {
    0%{
        background-color:$sceBodyBG;
    }
    50%{
        background-color:$priBodyBG;
    }
    100%{
        background-color:$sceBodyBG;
    }
}