input{
    border:none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
    outline: none;
    font-size: 18px;
    &::placeholder{
        font-size: 16px;
    }
    &:hover{
        background-color: $priBodyBG;
        transform: scale(1.07);
        color: $scoBodyCR;
    }
    &:focus{
        background-color: $priBodyCR;
        transform: scale(1.07);
        color: $scoBodyCR;
    }
}